# Custodia360
NEXT_PUBLIC_APP_URL=http://localhost:8787
NEXT_PUBLIC_WHATSAPP_NUMBER="+54 9 236 000-0000"
NEXT_PUBLIC_WHATSAPP_LINK="https://wa.me/5492360000000"

# Auth real pendiente
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Backend real pendiente
DATABASE_URL=

# Prestige Group
NEXT_PUBLIC_PRESTIGE_URL=https://theprestige-group.com/
