# dependencies
node_modules

# next
.next
out

# deploy local
.netlify
.vercel

# env
.env
.env.local
.env.*.local

# cache
tsconfig.tsbuildinfo

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
